.channel {
    cursor: pointer; 
    width: 100%;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    margin-top: 15px; 
    margin-bottom: 15px; 
}

.channel:hover {
    background-color: #25252c;
}

.channel_details {
    display: flex; 
    align-items: center; 
}
 
.channel>div>img {
    object-fit: contain; 
    margin-right: 5px; 
    width: 40px; 
    border-radius: 50%; 
}

.dot {
    height: 20px;
    width: 20px;
    background-color: rgb(187, 22, 22);
    border-radius: 50%;
    display: inline-block;
  }